<div class="standup">
  <div class="block header">
    <h1>Edit Standup</h1>
  </div>

  <%= render 'form', standup: @standup %>

  <div class="block buttons">
    Edit IP Addresses for <%= :ip_key %> | Edit closing
  </div>
</div>